<h1> HELLO WORLD!!! </h1>

<%= "I LOVE" + " RUBY" %>

<h1> 
<%= 1 + 2 %>
</h1>

<div> 1 + 2 </div>

<% catlady = true %>
<% if catlady = true %>
  <p>You are a crazy cat lady!</p>
  <% else %>
    <p> Join Adielle's cat hating army!!  </p>
    <% end %>
    
<% comments = ["Your pictures sp cute", "Love the dog!!!", "Miss you"]%>

<ol> 
  <% comments.each do |comment|%> 
    <p> comment </p>
    <%end%> 
</ol>


